# Laravel & PHP
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/.idea/
/.vscode/
/.phpunit.result.cache
/.env
/.env.*.php
Homestead.yaml
Homestead.json
/.phpunit.cache

# OS files
.DS_Store
Thumbs.db

# Composer
composer.phar

# Logs
/storage/logs/

# Ignored by default in Laravel projects
.env.testing
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
